@model SacramentMeetingPlanner.Models.CalendarModel
@using System.Web;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{


<form asp-controller="SacramentMeeting" asp-action="Index" method="get">
        Month: <select name="month" asp-for="Calendar.Month">
            <!option value="1" @((Model.Calendar.Month == 1)? "selected" : "")>January</!option>
            <!option value="2" @((Model.Calendar.Month == 2)? "selected" : "")>Febuary</!option>
            <!option value="3" @((Model.Calendar.Month == 3)? "selected" : "")>March</!option>
            <!option value="4" @((Model.Calendar.Month == 4)? "selected" : "")>April</!option>
            <!option value="5" @((Model.Calendar.Month == 5)? "selected" : "")>May</!option>
            <!option value="6" @((Model.Calendar.Month == 6)? "selected" : "")>June</!option>
            <!option value="7" @((Model.Calendar.Month == 7)? "selected" : "")>July</!option>
            <!option value="8" @((Model.Calendar.Month == 8)? "selected" : "")>August</!option>
            <!option value="9" @((Model.Calendar.Month == 9)? "selected" : "")>September</!option>
            <!option value="10" @((Model.Calendar.Month == 10)? "selected" : "")>October</!option>
            <!option value="11" @((Model.Calendar.Month == 11)? "selected" : "")>November</!option>
            <!option value="12" @((Model.Calendar.Month == 12)? "selected" : "")>December</!option>
        </select>
        Year: <select name="year" asp-for="Calendar.Year">
            <option value=@(DateTime.Now.Year + 1) selected>@(DateTime.Now.Year + 1)</option>
            @for(var i = DateTime.Now.Year; i >= 1970; i--){
                 <option value=@i >@i</option>
            }
        </select>
        <input type="submit" value="Go" />
</form>
}
<table class="table">
    <thead class="calendar">
        <tr class="calendarHeader">
            <th>Sunday</th>
            <th>Monday</thd>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <table class="calendar"> 
            <tr class="calendarBody">
            @foreach(DateTime Day in Calendar.EachDay(Model.Calendar.calBegin, Model.Calendar.calEnd))
            {
                @if ((int)Day.DayOfWeek % 7 == 0)
                {
                    @:</tr><tr class="calendarBody">
                }
               <td>
                    @Day.Day.ToString()
                    @foreach (SacramentMeeting meeting in Model.Meetings.Where(meeting => meeting.SacramentDate.Date == Day.Date))
                    {
                        <a asp-action="Details" asp-route-id="@meeting.Id">
                            <div class="" style="overflow-wrap: break-word; background-color: light-grey"> 
                                @meeting.SacramentDate
                            </div>
                        </a>
                    }
               </td>
            }
            </tr>
        </table>
    </tbody>
</table>
